// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600|Open+Sans:400,400italic,600,600italic,800,800italic|Oswald:400,300,700');

// Fix font-face incompability between browsers and O.S.
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('☺'), 
    url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
}

// Vendor
@import "modules/vendor";
