// ------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------
// Background
// ------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------

.background--gray-800 {
  background-color: $gray-800;
}

// ------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------
// Container
// ------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------

.container-content {
  background-color: $white;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 3px;
  border: solid 1px $gray-400;
}

.container-content--page-header {
  margin-top: 70px;
  @include media-breakpoint-down(md) {
    margin-top: 70px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 70px;
  }
}

// ------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------
// Text
// ------------------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------------------------------

.text-small {
  font-size: 10px;
}

.text-large {
  font-size: 18px;
}

.text-normal {
  font-size: $font-size-base;
}

.text-error {
  color: $red;
}

.text {
  font-size: $font-size-base;
}

.text--blue {
  color: $blue !important;
}

.text--purple {
  color: $purple !important;
}

.text--black {
  color: $black !important;
}

.text--red {
  color: $red !important;
}
