$breadcrumb-height: 54px;

.breadcrumb {
  background-color: $white;
  border-bottom: solid 1px $gray-400;
  color: $black;
  height: $breadcrumb-height;
  font-size: 18px;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 0px;
  border-radius: 0px;
  
  #{$a-tags} {
    color: $black;
    text-decoration: none;
  }

  @include media-breakpoint-down(md) {
    padding-top: 15px;
  }
}

.breadcrumb--fixed {
  position: fixed;
  z-index: $zindex-blocks;
}